.agenda {
  --_space: theme('space.4');
  --_type-color: var(--color-accent);

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: auto; 
  gap: theme('space.4');

  .keynote { --_type-color: var(--color-brand); }
  .break { --_type-color: var(--color-muted); }
  .lightning { --_type-color: theme('colors.amber.500'); }

  li,
  article {
    display: contents;
  }

  li > a {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: subgrid;
    padding: var(--_space);
    margin: calc(var(--_space) * -0.5);

    &:hover {
      background: var(--color-highlight-low);
    }

    li:not(:last-child) & {
      border-bottom: 1px solid var(--color-highlight-low);
    }
  }

  time-local {
    display: flex;
    place-self: start;
    flex-direction: column;
    text-align: center;
    color: var(--color-accent);
    .zone {
      font-size: var(--font-size-sm);
    }
  }

  header {
    h3:not(:has(+ p)) {
      color: var(--color-muted);
      font-size: var(--font-size-lg);
      text-align: center;
    }

    p {
      color: var(--color-muted);
    }
  }

  local-time {
    grid-column: 1;
  }

  .text-type { color: var(--_type-color); }
  .bg-type { background-color: var(--_type-color); }
}
