@layer components {
  .break-box {
    --_slice-bg: var(--slice-bg, theme(colors.slate.200));
    --_slice-fg: var(--slice-fg, theme(colors.slate.800));

    @media (prefers-color-scheme: dark) {
      --_slice-bg: var(--slice-bg, var(--color-surface));
      --_slice-fg: var(--slice-fg, var(--color-surface-fg));
    }

    background-color: var(--_slice-bg);
    text-wrap: pretty;
    color: var(--_slice-fg);
    display: inline block;
    line-height: 1.8;
    box-decoration-break: clone;
    box-shadow: 0 0 0 4px var(--_slice-bg);
  }
}
