@layer components {
  .logo {
    aspect-ratio: 1/1;
    width: 50px;
    max-width: 66%;
    position: relative;
    z-index: -1;
    margin-right: 10px;

    #logo-path-l { fill: var(--color-brand-blue); }
    #logo-path-r { fill: var(--color-brand-green); }

    @media (min-width: 800px) {
      width: 75vw;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      translate: -50% -47%;
      opacity: 0.3;
      z-index: -10;
    }
  }
}
