<.header>
  Agenda

  <:actions>
    <.link href={~p"/agenda/new"} :if={is_admin?(@current_user)}>
      <.button>New Agenda Item</.button>
    </.link>
  </:actions>
</.header>

<.agenda_item_list agenda_items={@agenda_items} />
