---
import App from "@/layouts/App.astro";
---

<script>
  import { supabase } from "@/lib/auth";
  import cookie from "cookie";

  (async () => {
    const {
      data: { user },
      error,
    } = await supabase.auth.getUser();

    const message = (m: string, classList: string) => {
      const el = document.getElementById("message")!;
      el.classList.add(...classList.split(" "));
      el.innerHTML = m;
    };

    if (user) {
      const cookieData = cookie.parse(document.cookie);
      if (cookieData["nvc-formdata"]) {
        document.cookie = cookie.serialize("nvc-formdata", "");
        const formData = JSON.parse(cookieData["nvc-formdata"]);
        const {
          data: profile,
        } = await supabase.from("user_profile").select("*").eq("id", user.id).single();

        if (profile) {
          // already has a profile, no need to do anything
          return;
        }

        const { error } = await supabase.from("user_profile").upsert({
          id: user.id,
          promo_mails: formData.reminders === "yes",
        });

        if(error) {
          console.error(error);
        }
      }

      if (error) {
        console.error(error);
      } else {
        message(
          `All set! Thanks for confirming your email! You will be redirected to your virtual ticket, otherwise <a href="/register/complete">click here</a>`,
          "text-teal-500 text-xl",
        );
        window.location.href = "/register/complete";
      }
    }
  })()
</script>

<App title="confirming">
  <p id="message" class="flex-grow text-center my-32">
    Verifying the confirmation link... hang on a sec.
  </p>
</App>
