---
import { type CollectionEntry } from "astro:content";
import App from "@/layouts/App.astro";
import ScheduleItem from "@/components/ScheduleItem.astro";
import "@/components/LocalTime.astro"

export interface Props {
  for: CollectionEntry<"schedules">;
}
const { for: day } = Astro.props;

---

<App title="Schedule">
  <main class="my-16 vise">
    <h1
      class="text-6xl leading-tight font-bold mb-8 text-teal-400 dark:text-teal-300"
    >
      Fix your <em class="text-amber-400 dark:text-amber-300 italic">skill issues</em> with these talks!
    </h1>

    <p class="text-lg leading-relaxed font-sans mb-16 max-w-prose">
      [todo] Don't miss these captivating talks that will unveil the true power
      of Neovim and equip you with invaluable techniques and knowledge to
      elevate your editing experience. We've gathered some of the finest folks
      all around the neovim community to talk about something super awesome.
    </p>

    <div class="flex flex-col gap-8 mb-8 max-w-max">
      <h2
        class="w-full text-4xl font-semibold text-teal-500"
      >
        Dec. 8th 2023
      </h2>
      <p>
        Times are adjusted to your local timezone <time is="localized-time">hmm</time>
      </p>
    </div>

    <ol
      class="divide-y divide-slate-200 dark:divide-slate-700"
      transition:name={`timetable-${day.id}`}
      transition:animate="slide"
    >
      {
        day.data.talks.map((slot) => (
          <li>
            <ScheduleItem on={day} for={slot} />
          </li>
        ))
      }
    </ol>
  </main>
</App>
