# Discord Invite
DISCORD_INVITE=https://discord.gg/Cz9J4ZD

# Supported types are Twitch and YouTube
WATCH_TYPE=Twitch

# Twitch
WATCH_TWITCH_HEADER=Test
WATCH_TWITCH_SUB_HEADER=Test
WATCH_TWITCH_LINK=https://www.youtube.com/watch?v=dQw4w9WgXcQ

# YouTUbe
WATCH_YOUTUBE_HEADER=Watch all the lectures on YouTube
WATCH_YOUTUBE_SUB_HEADER=You can find all the lectures from the event on our YouTube channel
WATCH_YOUTUBE_LINK=https://www.twitch.tv/mrdemonwolf
