@layer utilities {
  .debug {
    outline: 1px solid var(--color-accent);
  }

  .debug>* {
    outline: 1px dashed var(--color-accent);
  }

  .dark-only {
    @media (prefers-color-scheme: light) {
      display: none;
    }
  }

  .vise {
    --_vise-width: var(--vise-width, theme(maxWidth.xl));
    --_vise-gutter: var(--vise-gutter, 2rem);

    max-width: min(var(--_vise-width), calc(100svw - var(--_vise-gutter)));
    margin-left: auto;
    margin-right: auto;
  }

  .splash {
    display: grid;
    @media (min-width: 800px) {
      min-height: 100svh;
      place-content: center;
    }
  }
}

.harsh-blend {
  filter: brightness(0.8) contrast(2) grayscale(1);
  transition: 
    filter 200ms ease-out,
    opacity 200ms ease-out
  ;
  mix-blend-mode: hard-light;

  [href]:hover & {
    filter: brightness(1) contrast(1) grayscale(0);
    mix-blend-mode: normal;
  }
}
