<.header>
  Thanks for signing up!
  <:subtitle>
    <span class="break-box">
    Check your inbox!
    </span>
  </:subtitle>
</.header>
<p>We'll send a confirmation email to your inbox any moment now. Please check your email and open the confirmation link to stay in the loop with all things NeovimConf 2024.</p>
<p>It genuinely helps us when reaching out to sponsors to make each NeovimConf better than the last.</p>
