---
import { getCollection } from "astro:content";
import App from "@/layouts/App.astro";
import SpeakerCard from "@/components/SpeakerCard.astro";

const speakers = await getCollection("speakers");
---

<App title="Speakers">
  <main class="my-16 vise">

    <h1 class="text-lg md:text-3xl font-mono prefixed font-bold text-amber-500 before:text-teal-500 dark:text-amber-300 dark:before:text-teal-600 mb-4 md:mb-8">The Speakers</h1>

    <div class="max-w-screen-sm space-y-4 md:space-y-8 mb-8 lg:mb-16">
      <p>
        This year we've packed the schedule with a diverse group of speakers from 
        all over the world and squeezed them into a single day. Here's a taste of 
        who to expect this year!
      </p>
      
      <p class="text-sm max-w-md text-slate-400 dark:text-slate-400">
        Do you have a neat thing to share too? We're excited to hear from as many as we can!
        Go and <a href="/lightning" class="text-teal-500 underline">submit your application for a lightning talk!</a> 
      </p>
      
    </div>
      
    <ul class="grid grid-cols-1 gap-4 flex-wrap justify-center">
      {
        speakers.map((speaker) => (
          <li class="space-y-4">
            <SpeakerCard for={speaker} />
          </li>
        ))
      }
    </ul>
  </main>
</App>
