<footer class="bg-slate-50 dark:bg-slate-950 py-16 text-center space-y-8 text-slate-400 text-xs font-mono">
  <p>&copy; 2023 Neovimconf</p>
  <nav aria-label="Meta Links" class="flex gap-2 flex-col md:flex-row md:gap-8 md:justify-center">
    <a href="/terms">Terms and Conditions</a>
    <a href="/contact">Contact</a>
    <a href="/privacy">Privacy Policy</a>
  </nav>
</footer>
