---
import { START } from "@/config";
import Logo from "./Logo.astro";
import ClickablePrimary from "./ClickablePrimary.astro";
import { BoltIcon } from "@heroicons/react/24/outline"

---

<script>
  import { getCurrentUser } from "@/lib/auth";
  import "@/components/HomepageHeroBackground";

  getCurrentUser().then((user) => {
    if (user) {
      const link = document.querySelector("a[href='/register']")!;
      link.innerHTML = `You're in! 🎉 <span class="hidden md:inline">View your ticket!</span>`;
      link.setAttribute("href", "/ticket");
    }
  }).catch(() => {});
</script>

<header class="relative w-screen font-mono">
  <div class="vise flex flex-col lg:flex-row items-center lg:justify-between">
    <Logo transition:name="nvimconf-logo" class="h-[10rem] md:h-[10rem] lg:h-[15rem] xl:h-[24rem] text-teal-400 z-0 mb-16 mt-4 lg:mt-0 lg:mb-0 translate-x-4" />

    <div class="overflow-clip h-[12rem] absolute -z-50 inset-x-0 pointer-events-none text-center max-w-screen-2xl lg:top-1/2 lg:-translate-y-1/2 xl:h-[15rem] 2xl:left-1/2 2xl:w-full 2xl:-translate-x-1/2">
      <homepage-hero class="absolute -inset-x-20 inset-y-0 border border-teal-300 dark:border-teal-900">
        <text-style data-probability="0.01" class="text-teal-400 dark:text-teal-600"></text-style>
        <text-style data-probability="0.05" class="text-teal-300 dark:text-teal-700"></text-style>
        <text-style data-probability="0.1" class="text-teal-200 dark:text-teal-800"></text-style>
        <text-style data-probability="0.5" class="text-slate-100 dark:text-teal-900"></text-style>
        <text-style data-probability="1" class="text-slate-200 dark:text-slate-950"></text-style>
        <text-style data-probability="0" class="text-amber-500 dark:text-amber-500"></text-style>
      </homepage-hero>
    </div>

    <div class="px-4 lg:px-0 md:max-w-max mx-auto lg:mx-0">
      <div class="lg:text-right font-bold lg:bg-transparent mb-4" itemscope itemtype="https://schema.org/Event">
        <h1 class="text-3xl md:text-5xl lg:text-6xl tracking-wide uppercase text-transparent bg-gradient-to-r from-amber-400 dark:from-amber-200 to-teal-500 dark:to-teal-400 bg-clip-text">
          NeovimConf2023
        </h1>
        <p class="text-2xl md:text-4xl italic text-slate-700 dark:text-slate-50 tracking-wide text-right">
          <time datetime={START} itemprop="startDate">Dec 8<sup>th</sup></time>
        </p>
      </div>
      <nav class="flex gap-4 justify-center lg:justify-end w-full items-center text-teal-900">
        <ClickablePrimary as="a" href="/register">
          get your free ticket!
        </ClickablePrimary>

        <a href="/lightning" class="text-center bg-teal-600 dark:bg-teal-800 hover:bg-teal-300 dark:hover:bg-teal-600 text-amber-400 dark:text-amber-300 p-2 rounded-sm font-mono relative group overflow-hidden flex" title="submit a lightning talk!">
          <BoltIcon className="w-6 animate-wiggle-more animate-infinite" />
        </a>
      </nav>
    </div>
  </div>
</header>
