---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  sponsor: CollectionEntry<"sponsors">;
}

const { sponsor } = Astro.props;
---

<div>
  <a href={sponsor.data.url} target="_blank" rel="nofollow">
    <Image
      src={sponsor.data.image}
      alt={sponsor.data.slug + " sponsor logo"}
      class="mb-2 w-full md:mb-8"
      transition:name={`post-${sponsor.data.slug}-thumb`}
    />
  </a>
  <p>{sponsor.data.desc}</p>
</div>
