---
import { getCollection } from "astro:content";
import SponsorCard from "./SponsorCard.astro";

const paladiumSponsors = await getCollection(
  "sponsors",
  ({ data: { section } }) => section === "paladium",
);
const communitySponsors = await getCollection(
  "sponsors",
  ({ data: { section } }) => section === "community",
);
---

<section class="relative space-y-4 md:space-y-8 mb-16">
  <h2
    class="text-lg md:text-3xl font-mono font-bold text-amber-500 dark:text-amber-300"
  >
    Sponsors
  </h2>
  <p class="md:text-lg max-w-screen-sm">
    We're so thankful for our sponsors that help us make this event possible.
  </p>
  <div
    class="lg:grid
        grid-cols-2
        gap-4
        flex
        flex-col"
  >
    {paladiumSponsors.map((sponsor) => <SponsorCard sponsor={sponsor} />)}
  </div>

  <h3 class="md:text-xl font-mono font-bold text-amber-500 dark:text-amber-300">
    Community sponsors
  </h3>
  <div
    class="lg:grid
        grid-cols-4
        gap-4
        flex
        flex-col"
  >
    {communitySponsors.map((sponsor) => <SponsorCard sponsor={sponsor} />)}
  </div>
</section>
