@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vise {
    max-width: theme(maxWidth.screen-lg);
    margin-left: auto;
    margin-right: auto;
    padding-left: theme(spacing[4]);
    padding-right: theme(spacing[4]);
  }

  .aspect-card {
    aspect-ratio: 63 / 88;
  }

  .htmx-indicator {
    opacity: 0;
  }
}
