<.header>
  Edit Sponsor <%= @sponsor.name %>

  <:actions>
    <.link href={~p"/sponsors/#{@sponsor}"} method="delete" data-confirm={"Really delete #{@sponsor.name}?"}>
      <.button>Delete Sponsor</.button>
    </.link>
  </:actions>
</.header>

<.back navigate={~p"/sponsors"}>Back to sponsors</.back>

<.sponsor_form changeset={@changeset} action={~p"/sponsors/#{@sponsor}"} />
