<.header>
  <:subtitle>
    <span class="break-box">
      Your favorite editor's conference returns <span class="text-teal-400 dark:text-teal-300">November&nbsp;19th&nbsp;2024!</span>
    </span>
  </:subtitle>
</.header>


