---
import HomepageHero from "@/components/HomepageHero.astro";
import App from "@/layouts/App.astro";
---

<App title="NeoVimConf2023" class="">
  <section
    class="flex justify-between items-center flex-grow bg-gradient-to-b dark:from-slate-900 dark:via-slate-950 dark:to-slate-900 -z-10"
  >
    <HomepageHero />
  </section>
</App>
