---
import RegisterForm from "@/components/RegisterForm.astro";
import App from "@/layouts/App.astro";
import { createSBSSR } from "@/lib/server/supabase";

export const prerender = false;

const access_token = Astro.cookies.get("sb-access-token")?.value;
const refresh_token = Astro.cookies.get("sb-refresh-token")?.value;

if (access_token && refresh_token) {
  const supabase = createSBSSR(Astro);
  const user = await supabase.auth.setSession({
    refresh_token,
    access_token,
  });
  if (user.data.user) {
    return Astro.redirect("/register/complete");
  }
}

---

<script>
  import "htmx.org";
</script>

<App title="Register">
  <article class="space-y-8 vise">
    <div class="prose dark:prose-invert mx-auto">
      <h1 class="font-mono font-bold">Sign up for NEOVIMCONF2023</h1>
      <p>
        Signing up helps us a lot to organize this event. We're super stoked
        that you're doing this! After submitting, you need to confirm your
        e-mail address. We only need it as an indicator of interest and we
        certainly won't share it with third parties.
      </p>

      <p>
        If you want to receive reminder e-mails right before
        this year's event, and receive a headsup for next year's neovimconf,
        make sure to tick that second box. Of course you can always
        opt-out or opt-in later too.
      </p>
    </div>

    <RegisterForm />
  </article>
</App>
