---
import { CalendarIcon } from "@heroicons/react/24/outline"
import Logo from "./Logo.astro";

const plugins = "neovim coc.nvim NvChad LunarVim telescope.nvim AstroNvim LazyVim kickstart.nvim nvim-lspconfig nvim-treesitter lazy.nvim packer.nvim nvim-cmp deoplete.nvim nvim-tree.lua mason.nvim nvim-lua-guide markdown-preview.nvim vscode-neovim Neovim-from-scratch neorg lualine.nvim tokyonight.nvim nvim-dap trouble.nvim gitsigns.nvim null-ls.nvim which-key.nvim nvim leap.nvim indent-blankline.nvim coq_nvim toggleterm.nvim vim-sneak lspsaga.nvim noice.nvim kanagawa.nvim mini.nvim lsp-zero.nvim Comment.nvim nvim-config bufferline.nvim diffview.nvim ChatGPT.nvim awesome-vim-colorschemes nightfox.nvim nvim-autopairs nvim-notify nvimdots hop.nvim goneovim todo-comments.nvim neo-tree.nvim nvim-surround rust-tools.nvim denite.nvim vim-bootstrap refactoring.nvim nvim-lsp-installer vim-be-good plenary.nvim nvim-colorizer.lua nvim barbar.nvim octo.nvim nvim-treesitter-context github-nvim-theme nvim-dap-ui asyncrun.vim Launch.nvim vim-config symbols-outline.nvim gnvim dashboard-nvim lsp_signature.nvim nvim-ufo lightspeed.nvim nvim-treesitter-textobjects mason-lspconfig.nvim chadtree cellular-automaton.nvim neodev.nvim nvim-web-devicons neovim flash.nvim fidget.nvim fzf-lua oil.nvim go.nvim pynvim nvim-spectre nvim-bqf alpha-nvim nvim-compe gruvbox.nvim dressing.nvim telescope-file-browser.nvim impatient.nvim coc-pyright fvim onedark.nvim lush.nvim defx.nvim nvim-navic nui.nvim coc-explorer aerial.nvim zen-mode.nvim wilder.nvim vim-dirvish nvim-ts-autotag lspkind.nvim obsidian.nvim formatter.nvim instant.nvim nvim-lint nyoom.nvim coc-rust-analyzer learn-neovim-lua awesome-dotfiles nvim-lua-guide-zh neoscroll.nvim hologram.nvim telekasten.nvim feline.nvim glow.nvim project.nvim nvim any-jump.vim coc-tsserver CosmicNvim telescope-fzf-native.nvim semshi completion-nvim awesome-streamerrc vim-javacomplete2 neovim-init.vim doom-nvim conform.nvim twilight.nvim distant.nvim coc-snippets neogen nvim-completion-manager nvim-ts-context-commentstring hydra.nvim Nvim-R rest.nvim true-zen.nvim fzf-preview.vim legendary.nvim ThinkVim nvim-ts-rainbow nvim lazygit.nvim CodeArt galaxyline.nvim material.nvim heirline.nvim venn.nvim vim-vsnip oxocarbon.nvim markdown-preview.vim iron.nvim nvim-neoclip.lua cmp-nvim-lsp neovim-lua spaceduck nvim-jdtls ssr.nvim rnvimr nvim-ide CodeGPT.nvim nvim-oxi nvim git-peek mind.nvim flutter-tools.nvim sidebar.nvim nvim-lightbulb coc-clangd nvim-scrollbar vim-nightfly-colors nord.nvim vim-moonfly-colors magma-nvim git-blame.nvim blamer.nvim FTerm.nvim nvim-remote-containers typescript-tools.nvim dial.nvim none-ls.nvim presence.nvim git-conflict.nvim nvim-hlslens nvim-gdb nvim-dap-virtual-text nvim-typescript overseer.nvim"
---

<script is:inline>

const randomTextColor = () => {
  const rand = Math.random()

  if (rand > 0.99) return "text-teal-600";
  if (rand > 0.95) return "text-teal-700";
  if (rand > 0.90) return "text-teal-800";
  if (rand > 0.80) return "text-slate-900";
  if (rand > 0.60) return "text-slate-950";

  return "text-teal-900";
}

const wrapSpan = (p) => `<span class="${randomTextColor()}">${p}</span>`

function shuffle(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
}

document.addEventListener("astro:page-load", () => {
  const el = document.getElementById("header-bg");
  const p = el.innerText.split(" ")
  setInterval(() => { el.innerHTML = shuffle(p).map(wrapSpan).join(" ") }, 100)
})

</script>

<header class="relative h-96 w-screen px-8 overflow-hidden">
  <div class="relative flex justify-end h-full items-center max-w-screen-lg mx-auto">
    <Logo class="absolute left-20 h-[24rem] text-teal-800 lg:text-teal-500 z-0" />

    <div>
      <div class="text-right mb-4 drop-shadow-lg" itemscope itemtype="https://schema.org/Event">
        <h1 class="text-6xl text-transparent uppercase font-bold mb-4 tracking-wider bg-gradient-to-r from-amber-200 to-teal-400 bg-clip-text">NeovimConf2023</h1>
        <p class="text-5xl italic text-teal-50 font-bold tracking-wide">
          <time datetime="2023-12-09T9:00:00Z" itemprop="startDate">Dec 9<sup>th</sup></time>-<time datetime="2023-12-10T9:00:00Z" itemprop="endDate">10<sup>th</sup></time>
        </p>
      </div>

      <nav class="flex gap-4 justify-end items-center text-teal-900">
        <a href="/signup" class="inline-block bg-teal-300 p-2 rounded-sm hover:bg-teal-200">get your free ticket!</a>
        <a href="/neovimconf-2023.cal" class="inline-block bg-teal-500 p-2 rounded-sm hover:bg-teal-200"><CalendarIcon className="w-6" /></a>
      </nav>
    </div>
  </div>

  <div id="header-bg" class="absolute -left-20 -right-20 text-center -z-10 top-1/2 -translate-y-1/2 overflow-hidden h-[15rem] text-teal-900 leading-tight pointer-events-none">
    {plugins}
  </div>
</header>

