---
import Logo from "./Logo.astro";

const isCurrent = (href: string) =>
  Astro.url.pathname.startsWith(`/` + href.split("/")[1]);

const link = (opts: { href: string; class?: string; hotkey?: string }) => ({
  href: opts.href,
  class: `
      hover:text-teal-500
      dark:hover:text-teal-300
      aria-current-page:text-slate-800
      dark:aria-current-page:text-slate-50
      aria-current-page:underline
      aria-current-page:decoration-2
      aria-current-page:decoration-teal-400
      dark:aria-current-page:decoration-teal-300
      ${opts.class}
    `,
  "data-hotkey": opts.hotkey,
  "aria-current": isCurrent(opts.href) ? ("page" as const) : false,
});
---

<nav
  class={`py-2 vise flex gap-4 w-full justify-between items-center px-8 text-slate-500 dark:text-slate-300 flex-grow-0 ${Astro.props.class}`}
>
  {
    Astro.url.pathname == "/" ? null : (
      <a
        href="/"
        class="hover:text-teal-500 grow-0 block"
        data-hotkey="g h"
        transition:name="nvimconf-logo"
      >
        <Logo class="w-6 md:w-10" />
      </a>
    )
  }

  <div
    class="flex space-x-4 w-full items-center text-xs md:text-sm justify-end md:justify-end"
  >
    <a {...link({ href: "/code-of-conduct", hotkey: "g c" })}>Code of Conduct</a
    >

    <div class="flex space-x-4">
      <a href="//example.com" class="text-slate-300 hover:text-sky-400">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="w-4 md:w-6"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
          ></path>
        </svg>
      </a>

      <a
        href="https://discord.gg/J8aRHhupzP"
        class="text-slate-300 hover:text-indigo-400"
      >
        <svg
          class="w-4 md:w-6"
          viewBox="0 0 21 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.0897 1.96024C16.2725 0.497946 13.3978 0.250069 13.2748 0.241152C13.084 0.225102 12.9021 0.3321 12.8236 0.508645C12.8165 0.519345 12.7541 0.663791 12.6845 0.888485C13.8865 1.09178 15.363 1.50015 16.6987 2.32938C16.9127 2.46134 16.9787 2.7431 16.8467 2.9571C16.7593 3.09798 16.6113 3.17466 16.458 3.17466C16.3759 3.17466 16.2921 3.15148 16.2172 3.10511C13.9203 1.68026 11.0528 1.60893 10.5 1.60893C9.94718 1.60893 7.07787 1.68026 4.78278 3.10511C4.56878 3.23886 4.28702 3.17288 4.15506 2.95888C4.02131 2.7431 4.0873 2.46313 4.30129 2.32938C5.63697 1.50194 7.11354 1.09178 8.31547 0.890269C8.24592 0.663791 8.18351 0.521129 8.17816 0.508645C8.09791 0.3321 7.9178 0.221536 7.7252 0.241152C7.60216 0.250069 4.7275 0.497945 2.88536 1.97986C1.92417 2.86972 0 8.06978 0 12.5654C0 12.6457 0.0213994 12.7224 0.060632 12.7919C1.3874 15.1245 5.00926 15.7343 5.83492 15.7611C5.83849 15.7611 5.84383 15.7611 5.84918 15.7611C5.99541 15.7611 6.13273 15.6915 6.21833 15.5739L7.0529 14.4254C4.80061 13.8441 3.65039 12.8561 3.58441 12.7973C3.39538 12.6314 3.37755 12.3425 3.54518 12.1535C3.71102 11.9645 3.99992 11.9466 4.18894 12.1125C4.21569 12.1375 6.33424 13.935 10.5 13.935C14.6729 13.935 16.7914 12.1303 16.8128 12.1125C17.0019 11.9484 17.289 11.9645 17.4566 12.1553C17.6225 12.3443 17.6046 12.6314 17.4156 12.7973C17.3496 12.8561 16.1994 13.8441 13.9471 14.4254L14.7817 15.5739C14.8673 15.6915 15.0046 15.7611 15.1508 15.7611C15.1562 15.7611 15.1615 15.7611 15.1651 15.7611C15.9907 15.7343 19.6126 15.1245 20.9394 12.7919C20.9786 12.7224 21 12.6457 21 12.5654C21 8.06978 19.0758 2.86972 18.0897 1.96024ZM7.53261 10.7394C6.64988 10.7394 5.93478 9.92262 5.93478 8.91328C5.93478 7.90394 6.64988 7.08719 7.53261 7.08719C8.41534 7.08719 9.13043 7.90394 9.13043 8.91328C9.13043 9.92262 8.41534 10.7394 7.53261 10.7394ZM13.4674 10.7394C12.5847 10.7394 11.8696 9.92262 11.8696 8.91328C11.8696 7.90394 12.5847 7.08719 13.4674 7.08719C14.3501 7.08719 15.0652 7.90394 15.0652 8.91328C15.0652 9.92262 14.3501 10.7394 13.4674 10.7394Z"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </div>
</nav>
