---
import { START } from "@/config";
import Logo from "./Logo.astro";
import { BoltIcon } from "@heroicons/react/24/outline"
import { CountDown } from "./CountDown";
---

<script>
  import { getCurrentUser } from "@/lib/auth";
  import "@/components/HomepageHeroBackground";

  getCurrentUser().then((user) => {
    if (user) {
      const link = document.querySelector("a[href='/register']")!;
      link.innerHTML = `You're in! 🎉 <span class="hidden md:inline">View your ticket!</span>`;
      link.setAttribute("href", "/ticket");
    }
  }).catch(() => {});
</script>

<header class="relative w-screen font-mono">
  <div class="vise flex flex-col lg:flex-row items-center lg:justify-between">
    <Logo transition:name="nvimconf-logo" class="h-[10rem] md:h-[10rem] lg:h-[15rem] xl:h-[24rem] aspect-square flex-grow-0 z-0 mb-16 mt-4 lg:mt-0 lg:mb-0 xl:-ml-14" />

    <div class="overflow-clip absolute -z-50 inset-x-0 pointer-events-none text-center max-w-screen-2xl lg:top-1/2 lg:-translate-y-1/2 h-[12rem] lg:h-[15rem] 2xl:left-1/2 2xl:w-full 2xl:-translate-x-1/2">
      <homepage-hero class="absolute -inset-x-20 inset-y-0 border border-teal-300 dark:border-teal-900">
        <text-style data-probability="0.01" class="text-teal-400 dark:text-teal-600"></text-style>
        <text-style data-probability="0.05" class="text-teal-300 dark:text-teal-700"></text-style>
        <text-style data-probability="0.1" class="text-teal-200 dark:text-teal-800"></text-style>
        <text-style data-probability="0.5" class="text-slate-100 dark:text-teal-900"></text-style>
        <text-style data-probability="1" class="text-slate-200 dark:text-slate-950"></text-style>
        <text-style data-probability="0" class="text-amber-500 dark:text-sky-500"></text-style>
      </homepage-hero>
    </div>

    <div class="px-4 lg:px-0 md:max-w-max mx-auto lg:mx-0">
      <div class="lg:text-right font-bold lg:bg-transparent flex flex-col gap-3" itemscope itemtype="https://schema.org/Event">
        <h1 class="text-3xl md:text-5xl lg:text-6xl tracking-wide uppercase text-transparent bg-gradient-to-r from-sky-400 dark:from-amber-200 to-teal-500 dark:to-teal-400 bg-clip-text">
          NeovimConf2023
        </h1>
        <div class="flex flex-col gap-0 text-sm font-normal lg:text-right backdrop-blur px-2 py-0.5">
          <p class="text-lg font-bold ">Thank you all! That was amazing! </p>
        </div>
      <div class="flex gap-4 justify-center lg:justify-end w-full items-center text-teal-900">
      <a
        href="https://discord.gg/Cz9J4ZD"
        class="text-center bg-indigo-400 hover:bg-indigo-500 dark:hover:bg-teal-600 hover:text-indigo-50 text-white p-2 rounded-sm font-mono relative group overflow-hidden flex gap-4"
        aria-label="Join the Discord server"
      >
        <svg
          class="w-4 md:w-6"
          viewBox="0 0 21 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.0897 1.96024C16.2725 0.497946 13.3978 0.250069 13.2748 0.241152C13.084 0.225102 12.9021 0.3321 12.8236 0.508645C12.8165 0.519345 12.7541 0.663791 12.6845 0.888485C13.8865 1.09178 15.363 1.50015 16.6987 2.32938C16.9127 2.46134 16.9787 2.7431 16.8467 2.9571C16.7593 3.09798 16.6113 3.17466 16.458 3.17466C16.3759 3.17466 16.2921 3.15148 16.2172 3.10511C13.9203 1.68026 11.0528 1.60893 10.5 1.60893C9.94718 1.60893 7.07787 1.68026 4.78278 3.10511C4.56878 3.23886 4.28702 3.17288 4.15506 2.95888C4.02131 2.7431 4.0873 2.46313 4.30129 2.32938C5.63697 1.50194 7.11354 1.09178 8.31547 0.890269C8.24592 0.663791 8.18351 0.521129 8.17816 0.508645C8.09791 0.3321 7.9178 0.221536 7.7252 0.241152C7.60216 0.250069 4.7275 0.497945 2.88536 1.97986C1.92417 2.86972 0 8.06978 0 12.5654C0 12.6457 0.0213994 12.7224 0.060632 12.7919C1.3874 15.1245 5.00926 15.7343 5.83492 15.7611C5.83849 15.7611 5.84383 15.7611 5.84918 15.7611C5.99541 15.7611 6.13273 15.6915 6.21833 15.5739L7.0529 14.4254C4.80061 13.8441 3.65039 12.8561 3.58441 12.7973C3.39538 12.6314 3.37755 12.3425 3.54518 12.1535C3.71102 11.9645 3.99992 11.9466 4.18894 12.1125C4.21569 12.1375 6.33424 13.935 10.5 13.935C14.6729 13.935 16.7914 12.1303 16.8128 12.1125C17.0019 11.9484 17.289 11.9645 17.4566 12.1553C17.6225 12.3443 17.6046 12.6314 17.4156 12.7973C17.3496 12.8561 16.1994 13.8441 13.9471 14.4254L14.7817 15.5739C14.8673 15.6915 15.0046 15.7611 15.1508 15.7611C15.1562 15.7611 15.1615 15.7611 15.1651 15.7611C15.9907 15.7343 19.6126 15.1245 20.9394 12.7919C20.9786 12.7224 21 12.6457 21 12.5654C21 8.06978 19.0758 2.86972 18.0897 1.96024ZM7.53261 10.7394C6.64988 10.7394 5.93478 9.92262 5.93478 8.91328C5.93478 7.90394 6.64988 7.08719 7.53261 7.08719C8.41534 7.08719 9.13043 7.90394 9.13043 8.91328C9.13043 9.92262 8.41534 10.7394 7.53261 10.7394ZM13.4674 10.7394C12.5847 10.7394 11.8696 9.92262 11.8696 8.91328C11.8696 7.90394 12.5847 7.08719 13.4674 7.08719C14.3501 7.08719 15.0652 7.90394 15.0652 8.91328C15.0652 9.92262 14.3501 10.7394 13.4674 10.7394Z"
            fill="currentColor"></path>
        </svg>
        Join us on Discord!
      </a>
      </div>
      </div>
    </div>
  </div>
</header>
