
<div class="grid gap-4 callout w-full">
  <header>
    <h2 class="text-accent">Subject: <%= @mailing.subject %></h2>
    <p class="text-muted mb-0">From: noreply@neovimconf.live</p>
  </header>
  <pre class="w-full whitespace-pre-line break-word font-mono"><%= @mailing.body %></pre>
</div>

