<.header>
  Speakers

  <:actions>
    <.link href={~p"/speakers/new"} :if={is_admin?(@current_user)}>
      <.button>New Speaker</.button>
    </.link>
  </:actions>
</.header>

<.speaker_list {assigns} />

