---
import Navigation from '@/components/Navigation.astro';
import "@/styles/global.css"
import '@fontsource/ibm-plex-mono'
import '@fontsource/ibm-plex-sans'
import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title: string;
  class?: string;
  user?: object;
}

const { title } = Astro.props as Props;
---

<script>
import {install} from '@github/hotkey'

document.addEventListener('astro:page-load', () => {
  for (const el of document.querySelectorAll('[data-hotkey]')) {
    install(el as HTMLElement);
  }
})
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <slot name="head" />
    <ViewTransitions />
	</head>
	<body class="text-slate-800 dark:text-slate-200 bg-slate-100 dark:bg-slate-900">
    <main class="py-2 min-h-screen flex flex-col z-10 relative">
      <Navigation class="mb-4" />
      <slot />
    </main>

    <footer class="bg-slate-50 dark:bg-slate-950 py-16 text-center space-y-8 text-slate-400 text-xs">
      <p>
        &copy; 2023 Neovimconf
      </p>
      <nav class="flex gap-2 flex-col md:flex-row md:gap-8 md:justify-center">
        <a href="/toc">Terms and Conditions</a>
        <a href="/code-of-conduct" data-hotkeyt="g c">Code of Conduct</a>
        <a href="/imprint">Imprint & Privacy policy</a>
      </nav>
    </footer>
	</body>
</html>
