@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
}

.circuit-background {
  background-image: url(/neovimconf-circuit.png);
  background-size: cover;
}
.dim-background {
  background-color: rgb(17 24 39 / 90%);
}

section h2 {
  @apply text-6xl font-bold;
}

.rebranding h1 {
  @apply mb-4 text-3xl sm:text-5xl;
}

.rebranding,
.last-years-videos h2 {
  @apply mb-2 text-lg sm:text-2xl;
}

.rebranding p {
  @apply mb-12 text-green-500;
}

.blur {
  background-image: linear-gradient(
    -45deg,
    rgba(0 60 255 / 43.3%) 50%,
    rgba(0 255 80 / 43.3%) 0
  );
  filter: blur(50px);
  border-radius: 50%;
  background-size: 103%;
  width: 100%;
  height: 100%;
  transform: translate(0%, -100%);
  opacity: 0;
  animation: 6s ease infinite alternate fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    background-size: 10%;
  }

  100% {
    background-size: 100%;
    opacity: 1;
  }
}
