@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 400px;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  @apply bg-gray-900;
}

.circuit-background {
  background-image: url(/neovimconf-circuit-new.png);
  background-size: cover;
}
.dim-background {
  background-color: rgb(17 24 39 / 100%);
  animation: 3s ease forwards dimBackground;
}

section {
  @apply mt-24;
}

section h2 {
  @apply text-4xl text-[#21ee4b] sm:text-6xl font-mono;
}

section:nth-child(even) h2 {
  @apply text-[#0f74d0];
}

.Countdown {
  /* width: 100%;*/
  display: flex;
  justify-content: space-around;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.rebranding h1 {
  @apply mt-12 mb-4 text-3xl sm:text-5xl;
}

.rebranding h2,
.last-years-videos h2 {
  @apply mb-4 pt-6 text-lg sm:text-2xl;
}

.rebranding p {
  @apply mb-6 text-green-500;
}

.rebranding p.neovim-community {
  @apply mb-6;
}
.rebranding ul {
  @apply ml-5 mb-12 list-outside list-disc text-green-500;
}

.navBarLink {
  color: whitesmoke;
}

.navBarLink.active {
  @apply text-[greenyellow];
}

.youtube-embed {
  width: 240px;
  height: 134px;
  margin: auto;
}

@media only screen and (min-width: 480px) {
  .youtube-embed {
    width: 360px;
    height: 203px;
  }
}

@media only screen and (min-width: 720px) {
  .youtube-embed {
    width: 480px;
    height: 270px;
  }
}

@media only screen and (min-width: 1080px) {
  .youtube-embed {
    width: 720px;
    height: 405px;
  }
}

@media only screen and (min-width: 1600px) {
  .youtube-embed {
    width: 1080px;
    height: 608px;
  }
}

@media only screen and (min-width: 1920px) {
  .youtube-embed {
    width: 1280px;
    height: 720px;
  }
}

.blur {
  background-image: linear-gradient(
    -45deg,
    rgba(0 60 255 / 43.3%) 50%,
    rgba(0 255 80 / 43.3%) 0
  );
  filter: blur(50px);
  border-radius: 50%;
  background-size: 103%;
  width: 100%;
  height: 100%;
  transform: translate(0%, -100%);
  opacity: 0;
  animation: 6s ease infinite alternate fadeIn;
}

.mc-card {
  background: #333335;
  color: #fafafa;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  border-radius: 6px;
  text-align: center;
  background-size: cover;
  background-position: top;
  box-shadow: inset 0px 0px 50px rgb(0 0 0);
  transition: 2s width ease;
}
.mc-card img {
  width: 100%;
}
.mc-card h1 {
  position: absolute;
  bottom: 0;
  background: rgba(0 0 0 / 50%);
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  box-shadow: 0px 0px 30px rgb(0 0 0);
}
.mc-card:before {
  content: '';
  width: 104%;
  height: 103%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  background-image: linear-gradient(var(--rotate), #0f74d0, #21ee4b 43%);
  position: absolute;
  z-index: -1;
  top: -1.5%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}
.mc-card:after {
  position: absolute;
  content: '';
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 63%,
    #4e00c2
  );
  background-image: linear-gradient(var(--rotate), #0f74d0, #21ee4b 63%);
  background-image: linear-gradient(var(--rotate), #21ee4b, #0f74d0 63%);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@keyframes dimBackground {
  0% {
    background-color: rgb(17 24 39 / 100%);
  }
  100% {
    background-color: rgb(17 24 39 / 90%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    background-size: 10%;
  }

  100% {
    background-size: 100%;
    opacity: 1;
  }
}
