---
import App from "@/layouts/App.astro";
---

<script>
  import { supabase } from "@/lib/auth";
  import cookie from "cookie";

  (async () => {
    const {
      data: { user },
      error,
    } = await supabase.auth.getUser();

    const message = (m: string, classList: string) => {
      const el = document.getElementById("message")!;
      el.classList.add(...classList.split(" "));
      el.innerHTML = m;
    };

    if (user) {
      const cookieData = cookie.parse(document.cookie);
      if (cookieData["nvc-formdata"]) {
        document.cookie = cookie.serialize("nvc-formdata", "");
        const formData = JSON.parse(cookieData["nvc-formdata"]);
        await supabase.from("user_profile").select("*").eq("id", user.id);

        const { error } = await supabase.from("user_profile").insert({
          id: user.id,
          promo_mails: formData.promo_mails === "yes",
        });

        if (error) {
          console.log("profile already present");
        }
      }

      message(
        `All set! Thanks for confirming your email! You will be redirected to your virtual ticket, otherwise <a href="/register/complete">click here</a>`,
        "text-teal-500 text-xl",
      );
      window.location.href = "/register/complete";
    }

    if (error) {
      console.error(error);
      message(
        `Hm. Something went wrong. Please try again later. We'll look into this`,
        "text-teal-500 text-xl",
      );
    }

  })();
</script>

<App title="confirming">
  <p id="message" class="flex-grow text-center my-32">
    Verifying the confirmation link... hang on a sec.
  </p>
   }
</App>
